/**
 * @author Ryotaro Onuki <kerikun11+github@gmail.com>
 * @date 2021.01.11
 */

html
{
    background-color: gray;
}

#maze-field,
#maze-c-array-field
{
    font-size: x-small;
    line-height: normal;
    overflow: scroll;
}
#maze-field::-webkit-scrollbar,
#maze-c-array-field::-webkit-scrollbar
{
    display:none;
}
